@import '@fontsource/barlow/600.css';
@import '@fontsource-variable/fraunces';
@import 'tailwindcss';

@theme {
  --font-barlow: 'Barlow', sans-serif;
  --font-fraunces: 'Fraunces', serif;

  /* Colors */
  /* Primary */
  --color-red-400: hsl(7, 99%, 70%);
  --color-yellow-500: hsl(51, 100%, 49%);
  --color-green-800: hsl(167, 40%, 24%);
  --color-blue-800: hsl(198, 62%, 26%);
  --color-green-500: hsl(167, 34%, 41%);

  /* Neutral */
  --color-grey-950: hsl(212, 27%, 19%);
  --color-grey-600: hsl(213, 9%, 39%);
  --color-grey-550: hsl(232, 10%, 55%);
  --color-grey-400: hsl(210, 4%, 67%);
  --color-white: hsl(0, 100%, 100%);
}
