---
import Image from "./UI/Image.astro";
---

<section class="grid grid-cols-2 md:grid-cols-4">
    <Image
        src="/assets/mobile/image-gallery-milkbottles.jpg"
        alt="Milk bottles"
    />
    <Image src="/assets/mobile/image-gallery-orange.jpg" alt="Orange" />
    <Image src="/assets/mobile/image-gallery-cone.jpg" alt="Cone" />
    <Image
        src="/assets/mobile/image-gallery-sugar-cubes.jpg"
        alt="Sugar cubes"
    />
</section>
