---
import Icons from "./UI/Icons.astro";
---

<!-- Navbar component -->
<header class="flex flex-col mx-6 mt-10">
    <div class="flex flex-row justify-between">
        <Icons name="icon-logo" class="w-32 h-auto text-white" />
        <Icons name="icon-icon-hamburger" class="w-8 h-auto text-white" />
    </div>
</header>
